
body {
    line-height: 1;
    background-color: #FFFAF0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header h1 {
	font: 2rem Arial, sans-serif;
	Color: #008B8B;
	text-align: left;
	padding: 1rem;
	}

.header nav {
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
    display: flex;
    justify-content: center;
	align-content: space-around;
	padding: 1rem;}

.header nav a {
	background-color: #2F4F4F;
	color: white;
	max-width: 5rem;
	margin: 1rem;
    padding: 0.5rem;
    font: .75rem Arial, san-serif;
    text-align: center;
    text-decoration: none;	
}

.About-me {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin: 0 auto;
	width: 100%;
}

section {
	margin: 0 auto;
	width: 50%;
	float: right;
}

.Gallery {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	float: left;
	width: 200px;
}

.Gallery h3 {
	padding: .75rem;
	text-align: center;
	color: black;
}

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer a {
	background-color: #2F4F4F;
	color: white;
	max-width: 5rem;
	margin: 1rem;
    padding: 0.5rem;
    font: .75rem Arial, san-serif;
    text-align: center;
    text-decoration: none;
}

.footer h2 {
	font: 1.6rem Arial, sans-serif;
	Color: #008B8B;
	text-align: center;
	padding: 1rem;
}