
body {
    line-height: 1;
    background-color: blue;
}
ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header h1 {
	font: 1rem Arial, sans-serif;
	Color: #008B8B;
	}

.header nav {
	display: flex; 
	flex-direction: row;
	justify-content: flex-start;
	width: vw;
    display: flex;
    justify-content: center;
    align-content: space-around;}

.header nav a {
	background-color: #2F4F4F;
	color: white;
	max-width: 5rem;
	margin: 1rem;
    padding: 0.5rem;
    border-radius: .6rem;
    font-size: .75rem;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-decoration: none;	
}

.About-me {
	display: block;
	margin: 0 auto;
	width: 100%;
}

section {
	margin: 0 auto;
	width: 50%;
	float: right;
}

.Gallery {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	float: left;
	width: 200px;
}

.Gallery img {
	max-width: 100%;
}

.Gallery h3 {
	padding: .75rem;
	text-align: center;
	color: black;
}

